/* shared */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.dflex {
  display: flex;
}

.primarycol {
  color: #fd6e0a;
}

.commonbtn {
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  font-size: 20px;
  padding: 18px 35px;
  border: none;
  font-weight: 700;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 230px;
  margin-right: 230px;
  padding-top: 50px;
}

.nav-logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  /* padding-left: 0; */
}

.menu-items {
  list-style: none;
  align-items: center;
}

.menu-items li {
  margin-right: 50px;
}

.menu-items a {
  text-decoration: none;
  color: var(--dark-02, #474747);

  font-size: 20px;

  font-weight: 400;
}

header {
  background-color: #fff8f3;
  height: 837px;
}

.intro {
  padding: 47px 38px 0px 230px;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  /* background-size: 30px; */
}

.profilepic {
  width: 500px;
}

.intro-greet {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}

.name {
  color: #181818;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro-p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* Main */

/* About section */

.about {
  margin: 130px 230px;
  padding: 130px 155px;
  text-align: center;
  border-radius: 10px;
  background: #fff8f3;
}

.about-description {
  color: #757575;

  font-size: 18px;

  font-weight: 400;
  margin: 30px 0px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

/* What I Do */

.what-description {
  padding: 30px 345px 50px;
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.skills-container {
  justify-content: space-around;
  margin-left: 230px;
  margin-right: 230px;
  gap: 24px;
  border-radius: 5px;
  background: #fff;
}

.skill {
  width: 267px;
  height: 377px;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-img {
  margin-bottom: 30px;
}

.skill-name {
  margin-bottom: 20px;
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

/* education-experience */

.summary {
  margin-top: 130px;
}
.edu-ex-container {
  margin-top: 113px;
  margin-left: 230px;
  margin-right: 277px;
  gap: 71px;
}

.degrees {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

.jobs {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

.edu-ex-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.deg-job-name {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.inst-com-name {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.deg-job-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
